@charset "utf-8";
/* css page */

body{
	background: #000;
	margin-top: 0; 
}

p{
	font-family:Arial, Verdana, Helvetica, sans-serif, "MS sans serif"; 
	font-size:12px; 
	font-weight:400; 
	padding-right:10px;
}

#redtext1{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: 600; 
	color: #800000;
	text-decoration: none; 
	padding-left:10px;
	}
#redtext1 a{
	color: #800000;
	text-decoration: none; 
}	

#redtext1 a:hover{
	color: white; 
}	
	
#redtext2{
	font-family:Arial, Verdana, Helvetica, sans-serif, "MS sans serif"; 
	font-size:16px;
	font-weight:600;
	text-decoration: none; 
	color: #800000;
	padding-right:20px; 
	padding-top:5px;
}

#container{
		width:1024px; 
		margin: 0 auto;
		background-color: #ffffff;
		
}
#banner{
		margin: 0 auto;
		height: 260px;
		background-color: #880000;
}

#navbar{
		margin: 0 auto;
		background-color: #ffaaaa;
		outline: 1px solid #880000;
		height:20px;
		font-family:Arial, Verdana, Helvetica, sans-serif, "MS sans serif"; 
		font-size:12px;
		font-weight:600;
		text-decoration: none;
		text-align: right;
		padding-right:20px; 
		color: #000000;
		
}

#navbar ul{
		margin: 0 auto;
	  line-height: 20px;
		list-style-type:none;
		float: right;
		text-align: right;
}

#navbar ul li{
		margin: 0 auto;
		line-height: 20px;
		list-style-type:none

}

#navbar ul li a{
		text-decoration: none;
		color: #800000;
}

#navbar ul li a:hover{
		color:white
}

#header{
		background-color: #ffffff;
		height: 60px;
}
#wrapper{
clear: both;
background-color: #ffffff;
}
#leftcol{
		float:left;
		width:308px;
		height:200px;
		background-color: #ffffff;
		padding-left:4px;
}
#rightcol{
	 float:left;
	 outline: 1px solid #880000; 
	 border: 2px;
	 border-color: #00ff00;
	 width:702px;
	 height:192px;
	 padding-left:5px;
	 background-color:#ffaaaa;
}
#footer{
		clear: both;
		background-color: #ffaaaa;
		outline: 1px solid #880000;
		height:120px;
}

